<html lang="en">
<page size="A4"></page>
<head>
<meta charset="utf-8">
    <title>Certificate of Appreciation</title>
    <link rel="stylesheet" href="style.css" media="all" />
</head>
<body>
<div class="module">

<div id="margin">
<img src="logo.png" alt="logo">
</div>

<div class="a">
<h2> Certification of Appreciation </h2>
</div>

<div>
<img src="employee.png" alt="employee highlight" style="width:60%">
</div>

<div class="b">
<p id="award">This certificate is awarded to</p>
<h1 id="name"> {{employee_name}} </h1>
<h4 id="sentence">for steller performance for the month of December </h4>
</div>

<div>
<p id="greetings1"> Thank you for your hardwork and attention to detail.</p>
<p id="greetings2"> We feel lucky to have someone like you amidst us.</p>
<p id="cheer"> Cheers! </p>
</div>

<table id="left">
   <tr>
    <td><img src="Manager-signature.png" alt="Manager signature" style="width:100px;height:100px;"></td>
  </tr>
   <tr>
    <td><hr></td>
  </tr>
    <tr>
    <td>Manager</td>
  </tr>
</table>

<div>
<p id="date"> Date: {{date}} </p>
</div>

</body>
</html>