@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Regular.ttf);
}

#footer {
    font-size: 12px;
    text-align: right;
    font-weight: 500;
    color: white;
    margin-top: 3.5rem;
    bottom: 3.5rem;
    width: 100%;
    background-color: darkblue;
    height: 20px;
}

  .footer-columns {
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

body {
    position: relative;
    font-family: OpenSans;
    font-size: 12px;
}

.logo {
    width: 60px;
    height: 60px;
    align-content: baseline;
}

h2 {
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color:white;
}

h3 {
    color: black;
    text-align: left;
    padding: 2px;
    font-size: 20px;
    font-weight: bold;
}

h4 {
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-header {
    display: grid;
    grid-template-columns: 30px auto;
    padding: 10px;
    color: white;
    font-size: 20px;
    background-color: darkblue;
}

.grid-item1 {
    padding: 5px;
    font-size: 18px;
    text-align: left;
    font-weight:bold;
}

.grid-item2 {
    padding: 5px;
    font-size: 13px;
    text-align: left;
}
.grid-item3 {
    padding: 5px;
    font-size: 12px;
    text-align: left;
}


